{% extends 'connector/base.html' %}

 
{% block content %}



 <form enctype="multipart/form-data" action="/your-name/" method="post">
   
   {% csrf_token %}    
   
   <h1>{{ predicted }}</h1>
   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" name="file-name" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>
  
<div class="md-form">
  <label for="form7">Job Description</label>
</div>
<div class="md-form">
  <i class="fas fa-pencil-alt prefix"></i>
  <textarea style="resize:none" name="job-Description" maxlength="3000"id="form10" class="md-textarea form-control" rows="10" required></textarea>
</div>
<br>
<button type="submit" class="btn btn-outline-primary">Submit</button>
  {% comment %} <input type="submit"></button> {% endcomment %}
  
      
    
   </form>
    
 {% endblock%}